<h1><%= @user.name%>'s Entries by Date</h1>
<% if current_user%>
    <% @user.entries.each do |entry|%>
        <li><%=entry.topic.title%> - <%=link_to entry.date.strftime('%a, %b %e, %Y'), entry_path(entry)%> </li>
    <%end%>
<%end%>