<h2>Search Entries for Keywords</h2>

    <%= form_tag entries_path, :method => 'get' do %>    
        <p><%= text_field_tag :search, params[:search] %>   
        <%= submit_tag "Search", name: nil %></p>
    <% end %>