<h2>Entries found containing your searched term</h2>
    <% @entries.each do |entry|%>
        <h3> For <%=entry.keyword%> you have the following entries:</h3>
        <h4><%=entry.date.strftime('%a, %b %e, %Y')%></h4>
        <h5><%=entry.topic.title%></h5>
        <p><%=entry.content%></p>  
    <%end%>
       

