<h1>Topics Other Users Are Currently Focused On</h1>

<%@topics.each do |topic|%>
<%if !topic.title.nil?%>
<li><%=topic.title%> - <%= link_to "Add Entry for this topic", new_topic_entry_path(topic)%></li>
    <%end%>
<%end%>

<%=link_to "Reverse Order", reverse_order_path%>
<h2>Would you like to <%= link_to "Add a New Topic", new_topic_path %>?</h2>
