<h1>Topics Other Users Are Currently Focused On</h1>

<%@topics.each do |topic|%>
<%if !topic.title.nil?%>
<li><%=topic.title%></li>
    <%end%>
<%end%>

<h2>Would you like to <%= link_to "Add a New Topic", new_topic_path %>?</h2>
