<h2>Create a new Topic for an area of wellness you'd like to focus on</h2>

<%=form_for @topic do |f|%>

    <%= f.label :title%>
    <%=f.text_field :title%>
   
    <%=f.submit "Create New Topic"%>
<%end%>