

<h1>Welcome to Wellness!</h1>

<p>Wellness is designed to help you document your wellness journey. 
Think of it as a digital journal, where you can see what areas of wellness 
others are focused on as well. To get started, use the links above to Signup, or Login if you've visited before.</p>

<p>Once inside you can browse topics, and start creating your own entries. To get the best use out of this 
applictaion and keep track of your progress, make entries daily!</p>

<p>Well wishes,</p>
<p>-V</p>


